<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}   
     <title>create </title>
</head>
<body>
    {{ form_start(form) }}
    {{ form_widget(form) }} 
    
<button  type="submit" class="btn btn-primary" >Submit</button>
{{ form_end(form) }}
</body>
</html>